
.question-container{
    height:800px;
    width:60%;
    background-image:url(../Images/beach.jpg);
    border-radius: 10px;
    margin:auto;
    padding-top:20px;
    display: flex;
    flex-direction: column;
}
.question-page{
    padding-top: 100px;
}

.intro{  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    font-family: sans-serif;
    align-items: center;
    padding-bottom: 15px;

}

.h_line{
    width: 30%;
    margin:auto;
    padding-bottom: 10px;
}
.instruction{
    margin:auto;
    text-align: center;
    font-size: x-large
}

.question-card{
    height:600px;
    background-color:rgba(255,255,255,0.7);
    text-align: center;
    margin: 20px;
    font-size: xx-large;
}

.options{
    /* text-align: center; */
    display: flex;
    width: 100%;
    flex-direction: column;   
    align-items: center; 
    opacity: 1;


}

.option{
    border-radius:10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin:15px;
    font-size:  20px;
    background-color:rgba(255, 255, 255,1);
    box-shadow: 7px 7px 10px grey;
}
.option-c{
    border-radius:10px;
    width:50%;
    height:100px;
    display: flex;
    align-items: center;
    margin:auto;
    font-size:  20px;
    background-color:rgba(255, 255, 255,1);
    box-shadow: 7px 7px 10px grey;
    height: 100px;
    text-align: center;

}

.option > input[type=radio]{
    width: 25px;
    height: 25px;
}
.option-c > input[type=radio]{
    width: 25px;
    height: 25px;
}
.question-number{
    color:lightgrey
}